@import "src/styles/vars.scss";

.todoItem {
  padding: 16px;
  gap: 12px;
  width: 100%;
  background: $color-gray-500;
  border: 1px solid $color-gray-400;
  box-shadow: 0 2px 8px $color-gray-500;;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 30px minmax(0, 1fr) 30px;
  grid-template-rows: max-content;
  justify-items: stretch;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  height: max-content;
  word-wrap: break-word;

  &:hover {
    background: $color-gray-400;
    cursor: pointer;
  }

  .trash {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    background-image: url("/assets/trash.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s linear;

    &:hover {
      background-color: $color-gray-500;
      background-image: url("/assets/trashhover.svg");
    }
  }

  .restore {
    background-image: url("/assets/restore.svg");
    transition: transform 0.3s linear;

    &:hover {
      background-color: $color-gray-500;
      background-image: url("/assets/restorehover.svg");
    }
  }
}

  .completed {
    text-decoration: line-through $color-purple-dark;
    text-decoration-thickness: 2px;
  }
