@import "src/styles/vars.scss";

.button {
  background-color: $color-blue-dark;
  border-radius: 8px;
  width: 90px;
  height: 52px;
  display: flex;
  place-items: center;
  gap: 8px;
  justify-content: center;
  border: none;
  color: $color-gray-100;
  font-weight: bold;
  transition: background-color 0.3s linear;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
  }

  &:active {
    transform: scale(0.98);
  }
}
