@import 'src/styles/vars';

.notificationContent {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0 0 3px 0
  }

  .body {
    font-size: 14px;
    color: $color-gray-200;
  }

  .button {
    margin-top: 10px;
    line-height: 1.3;
  }
}