.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s linear;
}

.check__box {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.3s linear;
  position: absolute;
  background-image: url(./src/assets/unchecked.svg);
  background-repeat: no-repeat;

  &:hover {
    background-image: url(./src/assets/unchecked-hover.svg);
  }
}

.check__input:checked + .check__box {
  background-image: url(./src/assets/checked.svg);
  &:hover {
    opacity: 0.9;
  }
}
